//
   Created by Bartek on 2015-05-15.
extends ../layout
block content
    center
        br
        h1 Edycja konferencji
        br
        table(class="table")
            thead
                tr
                    th id
                    th Nazwa konferencji
                    th Data rozpoczecia
                    th Data zakonczenia
                    th adres
                    th edycja
            tbody
                each temp in conference
                    tr
                        td=temp.id_konferencja
                        td=temp.nazwa
                        td=temp.data_rozpoczecia
                        td=temp.data_zakonczenia
                        td=temp.adres
                        td: a(href="/conference_edit/" + temp.id_konferencja) Edytuj
                    
           