extends ../layout
block content
  a(href="/conference/conference_add", class="btn btn-primary") dodaj konference
  a(href="/conference/conference_info", class="btn btn-primary") edytuj konferencje
  a(href="/conference/conference_participants_list", class="btn btn-primary") uczestnicy konferencji