extends ../layout
block content
    center
        br
        h1 Edycja sesji
        br
        table(class="table")
            thead
                tr
                    th id
                    th Nazwa 
                    th Edycja

            tbody
                each temp in sesja
                    tr
                        td=temp.id_sesja
                        td=temp.nazwa
                        td: a(href="/session_edit/" + temp.id_sesja) Edytuj
 