//
   Created by user on 2015-05-22.
extends layout
block content
   div(class="row")
        div(class="col-lg-10")
            h3= "Raport o referatach"
            table(class="table table-bordered")
                each ref in papers
                    tr
                        td= ref.nazwa

                        
