//
   Created by ania on 2015-05-22.

doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body 
    h1= "Raport o obciążeniu recenzentów"
        div(class="row")
            div(class="col-lg-10")
               h5
                table(class= "table table-bordered")
                    thead
                        tr
                            th Imię recenzeta
                            th Nazwisko recenzenta
                            th Tytuł referatu
                            th Imię użytkownika
                            th Nazwisko użytkownika
                        each tmp1 in recenzenci
                            tr
                                td= tmp1.imier
                                td= tmp1.nazwiskor
                                td= tmp1.nazwar
                                td= tmp1.imieu
                                td= tmp1.nazwiskou
