//
   Created by ania on 2015-05-22.

doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
body    
       h1= "Raport o zakwaterowaniu"
            div(class="row")
                div(class="col-lg-10")
                   h5
                    table(class= "table table-bordered")
                        thead
                            tr
                                th Imię 
                                th Nazwisko
                                th Nazwa hotelu
                                th Adres hotelu
                                th Opłata
                            each tmp1 in zakwaterowanie
                                tr
                                    td= tmp1.imie
                                    td= tmp1.nazwisko
                                    td= tmp1.nazwah
                                    td= tmp1.adres
                                    td= tmp1.oplaty